<div class="row">
    <div class="col-3">

        <div class="dash-card mat-elevation-z4" (click)="getDetail(templateDetail, 18)">
            <div class="dash-card-body">
                <img src="../../../../assets/svg/fracture.svg" alt="">
                <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/icon-pond" title="Icon Pond">Icon Pond</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                <div class="dash-content">
                    <div [countUp]="resultJumlahPasien.rajal" class="countup"></div>
                    <div class="name-countup">
                        Pasien Rawat Jalan
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="col-3">

        <div class="dash-card mat-elevation-z4" (click)="getDetail(templateDetail, 16)">
            <div class="dash-card-body">
                <img src="../../../../assets/svg/patient.svg" alt="">
                <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/icon-pond" title="Icon Pond">Icon Pond</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                <div class="dash-content">
                    <div [countUp]="resultJumlahPasien.ranap" class="countup"></div>
                    <div class="name-countup">
                        Pasien Rawat Inap
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="col-3">

        <div class="dash-card mat-elevation-z4" (click)="getDetail(templateDetail, 24)">
            <div class="dash-card-body">
                <img src="../../../../assets/svg/ambulance.svg" alt="">
                <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/icon-pond" title="Icon Pond">Icon Pond</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                <div class="dash-content">
                    <div [countUp]="resultJumlahPasien.igd" class="countup"></div>
                    <div class="name-countup">
                        Pasien IGD Terlayani
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="col-3">

        <div class="dash-card mat-elevation-z4" (click)="getDetail(templateDetail, 27)">
            <div class="dash-card-body">
                <img src="../../../../assets/svg/x-ray.svg" alt="">
                <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/icon-pond" title="Icon Pond">Icon Pond</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                <div class="dash-content">
                    <div [countUp]="resultJumlahPasien.radiologi" class="countup"></div>
                    <div class="name-countup">
                        Pasien Radiologi Terlayani
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="col-3">

        <div class="dash-card mat-elevation-z4" (click)="getDetail(templateDetail, 3)">
            <div class="dash-card-body">
                <img src="../../../../assets/svg/flask.svg" alt="">
                <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/icon-pond" title="Icon Pond">Icon Pond</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                <div class="dash-content">
                    <div [countUp]="resultJumlahPasien.laboratorium" class="countup"></div>
                    <div class="name-countup">
                        Pasien Laboratorium Terlayani
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="col-3">

        <div class="dash-card mat-elevation-z4" (click)="getDetail(templateDetail, 28)">
            <div class="dash-card-body">
                <img src="../../../../assets/svg/yoga.svg" alt="">
                <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/icon-pond" title="Icon Pond">Icon Pond</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                <div class="dash-content">
                    <div [countUp]="resultJumlahPasien.rehab" class="countup"></div>
                    <div class="name-countup">
                        Pasien Rehabilitasi Medik
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="col-3">

        <div class="dash-card mat-elevation-z4" (click)="getDetail(templateDetail, 28)">
            <div class="dash-card-body">
                <img src="../../../../assets/svg/surgeon.svg" alt="">
                <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/icon-pond" title="Icon Pond">Icon Pond</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                <div class="dash-content">
                    <div [countUp]="resultJumlahPasien.operasi" class="countup"></div>
                    <div class="name-countup">
                        Pasien Bedah Terlayani
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="col-3">

        <div class="dash-card mat-elevation-z4" (click)="getDetail(templateDetail, 28)">
            <div class="dash-card-body">
                <img src="../../../../assets/svg/pharmacy.svg" alt="">
                <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/icon-pond" title="Icon Pond">Icon Pond</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                <div class="dash-content">
                    <div [countUp]="resultJumlahPasien.farmasi" class="countup"></div>
                    <div class="name-countup">
                        Resep Farmasi
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<ng-template #templateDetail let-observer>
    <div style="padding: 20px;">
        <ngx-datatable class="material" [rows]="dataDetailPasien" columnMode="force" [headerHeight]="50"
            [footerHeight]="50" rowHeight="auto" [reorderable]="true" [limit]="10">

            <ngx-datatable-column name="Nama Pasien" prop="namapasien" [width]="350"></ngx-datatable-column>
            <ngx-datatable-column name="Ruangan" prop="namaruangan" [width]="350"></ngx-datatable-column>
            <ngx-datatable-column name="No. Rekam Medis" prop="nocm" [width]="250"></ngx-datatable-column>
            <ngx-datatable-column name="No. Registrasi" prop="noregistrasi" [width]="250"></ngx-datatable-column>
            <ngx-datatable-column name="Tanggal Registrasi" prop="tglregistrasi" [width]="350"></ngx-datatable-column>
            <ngx-datatable-column name="Tanggal Pulang" prop="tglpulang" [width]="350"></ngx-datatable-column>

        </ngx-datatable>
    </div>



    <!-- <button tuiButton type="button" size="m" (click)="observer.complete()">
        Tutup
    </button> -->
</ng-template>