.login-web-container {
  display: flex;
    justify-content: center;
    align-items: center;
  margin: 0 auto;
  height: 100vh;
  background: #e6ecff;

  .login-form {
    margin: 10px;
    height: 20%;
    width: 50%;
    background-color: #eaf5fff0;
  }
}

.card {
  background-color: white;
  padding: 20px;
  margin: 10px;
  height: auto;
  
  min-width: 20%;
  width: 50%;
  border-radius: 10px;
}
